In [2]:
import numpy as np
import pandas as pd

In [10]:
df=pd.read_csv("MegaMart_sales.csv")
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      59 non-null     object
 1   Product Name  59 non-null     object
 2   Discount      59 non-null     float64
 3   Sales         59 non-null     int64
 4   Profit        59 non-null     int64
 5   Quantity      59 non-null     int64
 6   Category      59 non-null     object
 7   Sub-Category  59 non-null     object
dtypes: float64(1), int64(3), object(4)
memory usage: 3.8+ KB

In [11]:
df_new=pd.read_csv("MegaMart_newsales.csv")
df_new.head()
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      9 non-null      object
 1   Product Name  9 non-null      object
 2   Discount      9 non-null      float64
 3   Sales         9 non-null      int64
 4   Profit        9 non-null      int64
 5   Quantity      9 non-null      int64
 6   Category      9 non-null      object
 7   Sub-Category  9 non-null      object
dtypes: float64(1), int64(3), object(4)
memory usage: 704.0+ bytes

#### Combining two data frames
Question 1: Some of the orders are stored in another csv file named `megamart_new sales`. Read the csv file, store it in a data frame and add it to the `megamart_sales` data frame. Find the total sales value of the category 'Office Supplies'  after combining the dataframes

    a)7970
    b)6964
    c)7494
    d)6076

In [16]:
#your code here
megamart_sales = df.append(df_new)
megamart_sales[megamart_sales['Category'] == 'Office Supplies'].sum()['Sales']

7970

#### Dropping duplicates
Question 2: There are some duplicate rows in the data frame. Drop these rows and calculate the total sales value of the category Office Supplies.

    a)7156
    b)6496
    c)6964
    d)6023

In [32]:
#your code here
megamart_sales.drop_duplicates(inplace=True)
megamart_sales[megamart_sales['Category'] == 'Office Supplies'].sum()['Sales']

6964

#### Best category-sub category 
Question 3: Find the most profitable category and sub category combination based on the net profit.


    a)Furniture-Bookcases
    b)Office supplies-Appliances
    c)Office supplies-Storage
    d)Technology-Phones

In [40]:
#your code here
megamart_sales.groupby(['Category','Sub-Category']).sum()['Profit']

Category         Sub-Category
Furniture        Bookcases        308
                 Chairs           -49
                 Furnishings       74
Office Supplies  Appliances       229
                 Art              275
                 Binders          156
                 Envelopes         35
                 Fasteners         10
                 Labels            30
                 Paper             15
                 Storage          192
                 Supplies         103
Technology       Accessories      215
                 Copiers            0
                 Machines         168
                 Phones          1618
Name: Profit, dtype: int64

#### Invalid order IDs
Question 4: How many invalid order IDs are there in the data frame. An order id is of the form AZ-2011-Y where Y represents a whole number. A Order ID is said to be valid only if Y consists of 7 digits. Find the number of valid order order IDs in the data frame.
    
    a)6
    b)7
    c)8
    d)9

In [51]:
#your code here
megamart_sales['Order ID'][megamart_sales['Order ID'].str.split('-',expand=True)[2].str.len() < 7]

1     AZ-2011-107716
9     AZ-2011-122598
17    AZ-2011-130330
31    AZ-2011-144325
34    AZ-2011-145488
58    AZ-2011-176674
8     AZ-2011-201891
Name: Order ID, dtype: object

#### Occurence of furniture in top 25 sales
Question 5: Find the top 25 orders based on sales value and find the number of orders which belong to furniture category.

    a)2
    b)3
    c)4
    d)5

In [ ]:
#your code here

#### And operation
Question 6: Among the orders with sales>250 and profit>50, find the product name of the fourth highest order based on sales value.

    a)Motorola Headset, with Caller ID
    b)Panasonic Printer, Durable	
    c)Hoover Microwave, Red	
    d)Fellowes Lockers, Industrial

In [ ]:
#your code here

#### Column manipulation
Question 7: Remove the orders with negative profit by dropping the corresponding rows with negative `Profit`. Find the product that makes the lowest profit per Quantity in the Technology category.

    a) Nokia Audio Dock, with Caller ID
    b) Logitech Keyboard, Programmable
    c) Motorola Headset, with Caller ID
    d) Belkin Flash Drive, Bluetooth

In [ ]:
#your code here